<!DOCTYPE HTML>

	<style media="screen" type="text/css">

body{
    background-color: Linen;
}
#main{
    margin-top: 100px;
    margin-left: 450px;
}
#left{
	float: left;
	width: 45%;
    margin-left: 200px;
}
#right{
    margin-left: 50%;
}
#logout{
    margin-left: 60%;
}


head{
   background-color: Linen;   
}
h1{
	text-align:center;
	font-family: Bebas;
	color: CornflowerBlue;
    font-size: 50px;
}
p{
	font-family: Cicle;
}
</style>